<!doctype html>
<html lang="<%= current_page[:locale] %>" dir="<%= current_page[:dir] %>">
<head>
  <title><%= t("index.seo.title") %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="<%= t("index.seo.title") %>" />
  <meta property="og:description" content="<%= t("index.seo.description") %>" />
  <link href="./style.css" rel="stylesheet">
  <link rel="alternate" href="<%= default_page[:href] %>" hreflang="x-default" />
  <link rel="alternate" hreflang="<%= alternative_page[:locale] %>" href="<%= alternative_page[:href] %>" />
</head>
<body class="bg-zinc-50 text-gray-700">
  <main>
    <div id="sticky-banner" tabindex="-1" class="fixed top-0 start-0 z-50 flex justify-between w-full p-4 border-b border-gray-200 bg-emerald-50">
      <div class="flex items-center mx-auto">
          <p class="flex items-center text-sm font-normal">
              <span class="inline-flex p-1 me-3 bg-green-400 rounded-full w-6 h-6 items-center justify-center flex-shrink-0">
                  <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
                      <path d="M15 1.943v12.114a1 1 0 0 1-1.581.814L8 11V5l5.419-3.871A1 1 0 0 1 15 1.943ZM7 4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2v5a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2V4ZM4 17v-5h1v5H4ZM16 5.183v5.634a2.984 2.984 0 0 0 0-5.634Z"/>
                  </svg>
              </span>
              <span>
                <%= t("index.donate.message", link: donate_link) %>
              </span>
          </p>
      </div>
    </div>
    <div class="py-14">
      <div class="container flex flex-col mx-auto py-10 px-5 md:max-w-2xl">
        <div class="container flex">
          <div class="container mx-auto space-y-4">
            <h1 class="text-5xl font-bold">
              <%= t("index.seo.title") %>
            </h1>
            <p>
              <%= t("index.summary", earliest_date: span(dates.first, class: "font-bold text-emerald-400"), latest_date: span(dates.last, class: "font-bold text-emerald-400")) %>
            </p>
            <p>
              <%= t("index.last_updated", updated_date: span(updated_date), updated_time: span(updated_time)) %>
            </p>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <table dir="ltr" class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                  <tr>
                    <th scope="col" class="px-3 py-2">
                      <%= t("index.table.heading.destination") %>
                    </th>
                    <th scope="col" class="px-3 py-2">
                      <%= t("index.table.heading.date") %>
                    </th>
                    <th scope="col" class="px-3 py-2">
                      <%= t("index.table.heading.time") %>
                    </th>
                    <th scope="col" class="px-3 py-2">
                      <%= t("index.table.heading.flight") %>
                    </th>
                    <th scope="col" class="px-3 py-2">
                      <%= t("index.table.heading.seats") %>
                    </th>
                    <th scope="col" class="px-3 py-2">
                      <%= t("index.table.heading.price") %>
                    </th>
                    <th scope="col" class="px-3 py-2">
                      <%= t("index.table.heading.cabin") %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if offers.empty? %>
                    <tr class="odd:bg-white even:bg-gray-50 border-b">
                      <td scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap text-center" colspan="7">
                        <%= t("index.table.body.no_results") %>
                      </td>
                    </tr>
                  <% else %>
                    <% offers.each do |offer| %>
                      <tr class="odd:bg-white even:bg-gray-50 border-b">
                        <td scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap">
                          <%= offer.destination.name.capitalize %> (<%= offer.arrival_iata_code %>)
                        </td>
                        <td scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap">
                          <%= offer.departure_date %>
                        </td>
                        <td scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap">
                          <%= offer.departure_time %>
                        </td>
                        <td scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap">
                          <%= offer.carrier_code %><%= offer.flight_number %>
                        </td>
                        <td scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap">
                          <% if offer.seats >= 9 %>
                            9 or more
                          <% else %>
                            <%= offer.seats %>
                          <% end %>
                        </td>
                        <td scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap">
                          <%= offer.price %> USD
                        </td>
                        <td scope="row" class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap">
                          <%= offer.cabin.capitalize %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <blockquote class="p-1 my-1 border-s-4 border-gray-300">
              <p class="italic text-gray-500 text-xs">
                <span class="font-bold"><%= t("index.disclaimer.title") %></span>
                <br/>
                <%= t("index.disclaimer.point.outdated") %>
                <br/>
                <%= t("index.disclaimer.point.reference", link: mea_link) %>
                <br/>
                <%= t("index.disclaimer.point.no_affiliation") %>
                <br/>
                <%= t("index.disclaimer.point.scroll") %>
              </p>
            </blockquote>
            <p>
              <%= link_to t("index.change_language", locale: alternative_page[:locale]), alternative_page[:href],
                  target: "",
                  class: "inline font-medium underline underline-offset-2 decoration-600 decoration-solid hover:no-underline" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>

